<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="supermarket_pos.Properties.Settings.MINIMART_POSConnectionString"
            connectionString="Data Source=LAPTOP-G4G46K72\SQLEXPRESS;Initial Catalog=MINIMART-POS;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>